{% extends 'cheevo/base.html' %}

{% block content %}
	{% if username_error %}
		<p style="color: red;"><strong>Username "{{ inputted_nickname }}" not found.</strong></p>
	{% endif %}
	
	<form method="POST" class="post-form">{% csrf_token %}
		<p style="color: red;"><strong>{{ form.non_field_errors }}</strong></p>
		<div class="fieldWrapper">
			<p style="color: red;"><strong>{{ form.nickname.errors.as_text|slice:"2:" }}</strong></p>
			<label for="nickname">Input <a style="text-decoration: none; color: #ff9400; font-weight: 900;" href="http://steamidconverter.com/" title="e.g. 76561198017855478"><u>steamID64</u></a> (<i>Steam login is also allowed, but isn't guaranteed to work</i>):</label>
			{{ form.nickname }}
		</div>
		<div style="text-align: center; margin-top: 10px;">
			<button type="submit" class="btn save btn-default btn-lg">Confirm <span class="glyphicon glyphicon-ok"></span></button>
		</div>
	</form>
	
	<div id="date" style="margin-top: 25px;">
		There are currently <strong>{{ games_count }}</strong> games in the database.
		<br/>
		Last successful database update: <strong>{{ str_last_update }}</strong>.
		<br/>
		Need an update? Let <a style="text-decoration: none; color: inherit;" href="mailto:kris1337@gmail.com?Subject=Please%20update%20the%20Cheevo%20for%20me!"><strong>me</strong></a> know.
	</div>
{% endblock content %}