{% extends 'cheevo/base.html' %}

{% block content %}
	
	<div id="player-info">
		<h1>Hello,<br/> <span style="font-size: 72px"><a href="http://steamcommunity.com/id/{{ steam_user.nickname }}">{{ steam_user.nickname }}</a>!</span></h1>
	</div>
	
	<div id="date">
		{% if steam_user.latest_refresh_date %}
			{% if minutes|floatformat:"0" == '0' %}
				This profile has just been updated.
			{% else %}
				This profile has been updated <strong>{{ minutes|floatformat:"0" }}</strong> minutes ago.
			{% endif %}
			<br/>
			You can update your profile once an hour.
		{% endif %}
	</div>

	<div id="game-list">
		<ul>
			{% for game in games %}
				<li class="game-entry">
					<a href="https://steamcommunity.com/stats/{{ game.appid }}/achievements/">
						<div class="game-entry-wrapper">
							<img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_icon_url }}.jpg">
							{{ game.title }}
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock content %}