.page-header {
    background-color: #262626;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
	text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 48pt;
    text-decoration: none;
}

.page-header p {
	color: #ff9400;
    font-size: 24pt;
    text-decoration: none;
	font-family: 'Lobster', cursive;
}

.content {
    margin: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.save {
	font-size: 16pt;
	font-family: 'Lobster', cursive;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-form {
	overflow: auto;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

#player-info a {
	text-decoration: none;
	color: inherit;
}

#player-info a:hover {
	color: #ff9400;
}

#date {
	text-align: center;
	color: #828282;
	margin-bottom: 20px;
}

#player-info {
	overflow: auto;
	margin-bottom: 20px;
	text-align: center;
	margin-top: 0px;
}

#player-info h1 {
	margin-top: 0px;
}

#game-list {
	width: 100%;
}

#game-list ul {
	list-style-type: none;
	width: auto;
	padding: 0px;
}

#game-list li {
	
	overflow: auto;
	margin: 5px;
}

#game-list li img {
	float: left;
	margin: 0 15px 0 0;
}

#id_username {
	width: 100%;
}

#id_password {
	width: 100%;
}

.game-entry {
	border: 1px solid black;
	background: #262626;
	display: flex;
	align-items: center; /* align vertical */
	padding: 0px;
}

.game-entry:hover {
	background: #1A1A1A;
}

.game-entry a {
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Lobster', bold;
	font-size: 14pt;
	margin: 0px; display: block; width: 100%; height: 100%;
}

.game-entry a:hover {
	color: #ff9400;
	text-decoration: none;
	font-family: 'Lobster', bold;
	font-size: 14pt;
}

.game-entry-wrapper {
	display: flex;
	align-items: center; /* align vertical */
}