.page-header {
    background-color: #262626;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
	text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 48pt;
    text-decoration: none;
}

.page-header p {
	color: #ff9400;
    font-size: 24pt;
    text-decoration: none;
	font-family: 'Lobster', cursive;
}

.content {
    margin: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.save {
	font-size: 16pt;
	font-family: 'Lobster', cursive;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-form {
	overflow: auto;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

#player-info a {
	text-decoration: none;
	color: inherit;
}

#player-info a:hover {
	color: #ff9400;
}

#date {
	text-align: center;
	color: #828282;
	margin-bottom: 20px;
}

#player-info {
	overflow: auto;
	margin-bottom: 20px;
	text-align: center;
	margin-top: 0px;
}

#player-info h1 {
	margin-top: 0px;
}

#game-list ul {
	list-style-type: none;
	width: 100%;
}

#game-list li {
	padding: 10px;
	overflow: auto;
}

#game-list li img {
	float: left;
	margin: 0 15px 0 0;
}

#id_username {
	width: 100%;
}

#id_password {
	width: 100%;
}